#droparea {
  border: 3px dashed #024;
  border-radius: 18px;
  padding: 20px;
}
#droparea.highlight {
  border-color: #69BE28;
}
.dropform {
  margin-bottom: 10px;
}
.filesList {
  padding-top: 20px;
}
.file {
  color: #024;
}
.filerow {
  padding-bottom: 10px;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #024;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
}
.button:hover {
  background: #c7c7c7;
  color: #024;
}
#fileElem {
  display:none;
}
#uploadForm, #success {
  margin: 40px;
  padding: 20px;
  border: 1px solid #c7c7c7;
}
#qsaArea textarea {
  white-space: pre;
}
