#droparea {
  border: 3px dashed #024;
  border-radius: 18px;
  width: 480px;
  font-family: sans-serif;
  margin: 40px auto;
  padding: 20px;
}
#droparea.highlight {
  border-color: #69BE28;
}
p {
  margin-top: 0px;
}
.dropform {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #024;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #69BE28;
  color: #69BE28;
}
.button:hover {
  background: #69BE28;
  color: #024;
}
#fileElem {
  display:none;
}
